* body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(53, 53, 232) 0%, rgb(185, 185, 192) 100%, rgb(123, 155, 80) 100%);
    font-family: monospace, sans-serif;
    color: brown;
}

.container {
    background: rgb(26, 28, 29, 0.3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 4px 10px rgb(0, 0, 0, 0.3);
    width: 50%;
    max-width: 600px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Heading {
    font-size: 32px;
}

.temp-container {
    width: 100;
    padding: 15px;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

input {
    width: 60%;
    font-family: monospace;
    padding: 5px;
    outline: none;
    background: rgb(149, 219, 146, 0.3);
    border-color: rgb(255, 255, 255, 0.6);
    color: aqua;
    font-size: 18px;
}

input::placeholder {
    color: rgb(236, 206, 161);
}

/*Responsive css*/
@media (min-width:600px) {
    .container {
        width: 70%;
    }

    input {
        width: 50px;
    }
} 

@media (min-width: 900px) {
    .container {
        width: 60%;
    }

    input {
        width: 40%;
    }
}